header.container {
  height: 80px;
  line-height: 50px;
}

main.container {
  background-color: #1d2d3c;
}

header.container {
  background-color: #06131f;
}

.card {
  background-color: #06131f;
}

.show_disc {
  position: fixed;
  top: 0;
  right: 15%;
  bottom: 0;
  left: 15%;

  background-color: rgba(0, 0, 0, 0.5);
}

.close_button {
  position: absolute;
  top: 20px;
  right: 20px;
}
